<div class="grid-container">
  <h1 class="mat-h1">Importancia del deporte</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <img src="https://static.vecteezy.com/system/resources/previews/000/417/772/non_2x/vector-children-doing-different-kind-of-sports.jpg" 
            width="20%">
            <div class="parrafo">
              <p>La práctica de deporte es uno de los pilares para una vida saludable a cualquier edad. Ya sea salir a correr, 
                dar largos paseos, jugar un partido de fútbol con los amigos o hacer yoga, practicar algún deporte te hará estar 
                más saludable y ayuda a mantener un buen ánimo, además de permanecer más feliz y con más energía gracias a los 
                beneficios de la actividad física. Por eso, en este artículo te vamos a explicar la importancia del deporte para una vida saludable.</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
